header {
  background-color: rgb(0, 67, 101);
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 35px
}

nav {
  background-color: rgb(100, 100, 100);
}

section {
  box-sizing: border-box;
  background-color: white;
  text-align: center;
}

footer {
  color: white;
  background-color: rgb(0, 67, 101);
  text-align: center;
  font-size: 20px;
  font-style: italic;
}

body {
  background-color: rgb(201, 201, 201);
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: rgb(50, 50, 50);
  text-decoration: none;
}

#logga {
  float: left;
  width: 150px;
  height: 150px;
}

#toppbild {
  width: 1425px;
  height: 300px;
}

#home {
  font-size: 20px;
}

#gallery {
  font-size: 20px;
}

#requests {
  font-size: 20px;
}

#aboutme {
  font-size: 20px;
}

#första {
  background-color: rgb(100, 100, 100);
  box-sizing: border-box; padding: 4px;
}

#andra {
  background-color: rgb(100, 100, 100);
  box-sizing: border-box; padding: 4px;
}

#tredje {
  background-color: rgb(100, 100, 100);
  box-sizing: border-box; padding: 4px;
}

#fjärde {
  background-color: rgb(100, 100, 100);
  box-sizing: border-box; padding: 4px;
}

#testbild {
  width: 150px;
  height: 100px;
}

#pil {
  width: 50px;
  height: 50px;
  float: left;
}

#förstabild {
  width: 800px;
  height: 450px;
}
